footer {
    background-color: var(--color-primary-1);
}

#footer_items, p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

#copyright {
    font-size: x-small;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
   /*  border: 1px solid red; */
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}